<ion-view view-title="Add Post">
	<ion-content ng-show="userLoggedIn">
	<div style="text-align:center;" ng-hide="gMapLoaded">
		<ion-spinner></ion-spinner>
	</div>
	<google-map-places loaded='gMapLoaded'  place = 'post.place'> <!--place='post.place'-->

		</google-map-places>
		<div class="list">
			<form name="addPostForm">
					<div class="item" ng-hide="post.doNotUseFullAddress">
			  		<label class="input-label ">Address </label>
						<!--<textarea type='text' id='pac-input' ng-model="post.address" name="googleAddressBox" required></textarea>-->
						<div role="alert">
								<ion-google-place placeholder="Enter an address, Apt# and ZIP" name="googleAddressBox" ng-model="post.place" />
		              <span class="error" ng-show="addPostForm.googleAddressBox.$invalid && (addPostForm.googleAddressBox.$touched  || input.hasError)">
		                Address was not choosen, <br>keep holding the option to select one
		            	</span>
		            	<span class="error" ng-show="addPostForm.googleAddressBox.$touched && !post.place && addPostForm.googleAddressBox.$valid">
		                Invalid Address! <br> keep holding the option to select one
		            	</span>
	      	 </div>
			  	</div>
			  	<ion-item>
			    	<div>Title</div>
			    	<textarea ng-model="post.title" name="titleInputBox" type="text" required></textarea>
			    	<div role="alert">
		              <span class="error" ng-show="addPostForm.titleInputBox.$invalid && (addPostForm.titleInputBox.$touched || input.hasError)">
		                Enter a valid title!
		            	</span>
            		</div>
			  	</ion-item>
			  	<ion-item>
			  		<div>Content</div>
			    	<textarea ng-model="post.content" name="postContentTextArea" required></textarea>
			  		<div role="alert">
		              <span class="error" ng-show="addPostForm.postContentTextArea.$invalid && (addPostForm.postContentTextArea.$touched || input.hasError)">
		                Enter a valid content!
		            	</span>
            		</div>
			  	</ion-item>
			  	<ion-item class="item-select">
			  		<div class="input-label">
			  			Catagory</div>
				    	<select class="select" name="catagorySelector" ng-model='post.catagory' placeholder="Content"  required> <!-- ng-change="postOperations.catagorySelected(post.catagory)"-->
				    		<option value="" selected>Choose</option>
								<option ng-repeat="ctgry in catagories" value="{{ctgry}}">
				    			{{ctgry}}</option>
				    	</select>
				    	<div role="alert">
	              <span class="error" ng-show="addPostForm.catagorySelector.$invalid && (addPostForm.catagorySelector.$touched || input.hasError)">
	                Enter a valid content!
	            	</span>
          		</div>
			  	</ion-item><!--ng-hide="subCatagories"-->
			  	<ion-item class="item-select" ng-show='!!post.catagory'>
			  		<div class="input-label">
			  			Sub-Catagory
				    	<select class="select" name="subCatagorySelector" ng-model="post.sub_catagory" placeholder="Content" required>
				    		<option value="" selected>Choose</option>
				    		<option ng-repeat="ctgry in catAndSubCat| filter:{catagory : post.catagory}">
				    			{{ctgry.sub_catagory}}</option>
				    	</select>
				    	<div role="alert">
			              <span class="error" ng-show="addPostForm.subCatagorySelector.$invalid && (addPostForm.subCatagorySelector.$touched || input.hasError)">
			                Enter a valid content!
			            	</span>
	            		</div>
				    </div>
			  	</ion-item>
			  	<ion-item>
			  		<div class="uploaded-image-viewer" >
				        <div ng-repeat = "image in images" class="imageWrapper">
				          <i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
									  <img class="imageThumbs" ng-src= "{{urlForImage(image)}}" style="overflow:hidden;"/>
				        </div>
				    </div>
						<button class="button button-assertive" ng-click="showActionSheet('post')">Attach Images  </button>
			  	</ion-item>
			  	<ion-item class="item-select">
					<div class="label" >Nearest City</div>
					<select name="nearestCitySelector" ng-model="post.city" required>
						<option value="" >Select</option>
						<option ng-repeat="county in counties" value={{county}} ng-bind="county | capitalizeFirstLetter"></option>
					</select>
					<div role="alert">
								<span class="error" ng-show="addPostForm.nearestCitySelector.$invalid && (addPostForm.nearestCitySelector.$touched || input.hasError)">
									Select the nearest city from you!
								</span>
							</div>
				</ion-item>
				<ion-item class="item-toggle">
				Do not show my name
				<label class="toggle toggle-assertive">
					 <input type="checkbox" ng-model="post.hideUserDetails">
					 <div class="track">
						 <div class="handle"></div>
					 </div>
				</label>
			</ion-item>
			<div class="item item-divider">
				<textArea readonly>Hiding your name won't make you untraceable. Vulgarity won't be tolerated!</textArea>
			</div>
	  	<ion-item class="item-toggle">
			Do not use full address
				<label class="toggle toggle-assertive">
				   <input type="checkbox" ng-model="post.doNotUseFullAddress">
				   <div class="track">
				     <div class="handle"></div>
				   </div>
				</label>
			</ion-item>
			  	<!-- below this only if user doesn't like entering full address -->
	  	<div ng-show="post.doNotUseFullAddress">
		  	<ion-item class="item-input">
		  			<span class="input-label">Zip-Code</span>
		  			<input type="number" style="text-align: right;" ng-model="post.location.post_zip" ng-change="postOperations.zipCodeUpdated(post.location.post_zip)" maxlength='5'>
		  	</ion-item>
		  	<ion-item class="item-label">
		  			City/State
			    <span ng-hide="cityLoading" class="item-note">{{post.location.city}}, {{post.location.post_state}}</span>
				<ion-spinner ng-show="cityLoading" class="item-note"></ion-spinner>
			 </ion-item>
		 </div>
		</form>
 	</div>
<div>
	<a class="button button-block button-assertive" ng-click="postOperations.savePostClicked(addPostForm)" href="#">Save</a>
</div>

	</ion-content>
</ion-view>
