<ion-view view-title="Add Post" >
	<ion-content ng-show="userLoggedIn">
	<div style="text-align:center;" ng-hide="gMapLoaded">
		<ion-spinner></ion-spinner>
	</div>
	<!--google-map-places ng-show="!!gMapLoaded" loaded='gMapLoaded'  place = 'post.place'>
</google-map-places-->

		<div class="list">
			<form name="addPostForm">

			  	<ion-item>
			    	<div class="list">Title
			    	<textarea ng-model="post.title" name="titleInputBox" placeholder="Enter your title here..." type="text" required></textarea>
			    	<div role="alert">
		              <span class="error" ng-show="addPostForm.titleInputBox.$invalid && (addPostForm.titleInputBox.$touched || input.hasError)">
		                Enter a valid title!
		            	</span>
            		</div>
							</div>
			  	</ion-item>
			  	<ion-item>
			  		<div>Content
				    	<textarea ng-model="post.content" rows='6' ng-maxlength="1024" placeholder="Enter you content here..."name="postContentTextArea" required></textarea>
							<p>{{1024 - post.content.length}}</p>
				  		<div role="alert">
			              <span class="error" ng-show="addPostForm.postContentTextArea.$invalid && (addPostForm.postContentTextArea.$touched || input.hasError)">
			                Enter a valid content!
			            	</span>
	            </div>
							</div>
			  	</ion-item>
			  	<ion-item class="item-select">
			  		<div class="input-label">
			  			Catagory</div>
				    	<select class="select" name="catagorySelector" ng-model="post.catagory" ng-change="onCatagoryChange(post.catagory)" placeholder="Content"  required> <!-- ng-change="postOperations.catagorySelected(post.catagory)"-->
				    		<option value="" selected>Choose</option>
								<option ng-repeat="ctgry in catagories" value="{{ctgry}}">
				    			{{ctgry}}</option>
				    	</select>
				    	<div role="alert">
	              <span class="error" ng-show="addPostForm.catagorySelector.$invalid && (addPostForm.catagorySelector.$touched || input.hasError)">
	                Select a valid catagory!
	            	</span>
          		</div>
			  	</ion-item><!--ng-hide="subCatagories"-->
			  	<ion-item class="item-select" >
			  		<div class="input-label">
			  			Sub-Catagory
				    	<select class="select" name="subCatagorySelector" ng-model="post.sub_catagory" ng-change="onSubCatagoryChange(post.sub_catagory)" placeholder="Content" required>
				    		<option value="" selected>Choose</option>
				    		<option ng-repeat="ctgry in subCatagories">
				    			{{ctgry}}</option>
				    	</select>
				    	<div role="alert">
			              <span class="error" ng-show="addPostForm.subCatagorySelector.$invalid && (addPostForm.subCatagorySelector.$touched || input.hasError)">
			                Select a valid sub catagory!
			            	</span>
	            		</div>
				    </div>
			  	</ion-item>
					<label ng-show="priceFeature" class="item item-input">
						<span class="input-label">Price</span>
						<input type="tel" ng-model="post.item_price" placeholder="20.75">
					</label>
			  	<ion-item >
						Images <i class="ion-ios-plus-outline add-images-button" ng-click="showActionSheet('post')">
						</i>

						<div class="uploaded-image-viewer">
								<div class="uploaded_images">
									<div ng-repeat = "image in images" class="imageWrapper" >
					          <i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
										<input class="checkboxIcon" value={{$index}} name="titleImage" ng-model="post.titleImage" type="radio">
										  <img class="imageThumbs" ng-src= "{{urlForImage(image)}}">
										  <!--img class="imageThumbs" ng-src= {{image}}/-->
					        </div>
									<!--div class="imageWrapper">
										<i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
										<input class="checkboxIcon" name="titleImage" type="radio">
												<img class="imageThumbs" ng-src= "http://www.freedigitalphotos.net/images/img/homepage/87357.jpg" style="overflow:hidden;"/>
									</div>
									<div class="imageWrapper">
					          <i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
											<input class="checkboxIcon" name="titleImage" type="radio">
											<img class="imageThumbs" ng-src= "http://www.freedigitalphotos.net/images/img/homepage/87357.jpg" style="overflow:hidden;"/>
					        </div>
									<div class="imageWrapper">
					          <i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
											<input class="checkboxIcon" name="titleImage" type="radio">
											<img class="imageThumbs" ng-src= "http://www.freedigitalphotos.net/images/img/homepage/87357.jpg" style="overflow:hidden;"/>
					        </div>
									<div class="imageWrapper">
					          <i class="button button-clear ion-close-circled" ng-click="removeImageFromView(image)" ></i>
											<input class="checkboxIcon" name="titleImage" type="radio">
										  <img class="imageThumbs" ng-src= "http://www.freedigitalphotos.net/images/img/homepage/87357.jpg" style="overflow:hidden;"/>
					        </div-->
								</div>
								<div class="row text-center"><p>Choose an image to make it the cover image for your post</p></div>
				    </div>
			  	</ion-item>

					<div class="item item-divider">
						<textArea readonly>Address provided will not be included in the post and only be used for searching purposes.</textArea>
					</div>
			  	<ion-item class="item-select">
					<div class="label" >Nearest city</div>
					<select name="nearestCitySelector" ng-model="post.city" required>
						<option value="" >Select</option>
						<option ng-repeat="county in counties" value={{county}} ng-bind="county | capitalizeFirstLetter"></option>
					</select>
					<div role="alert">
								<span class="error" ng-show="addPostForm.nearestCitySelector.$invalid && (addPostForm.nearestCitySelector.$touched || input.hasError)">
									Select the nearest city from you!
								</span>
							</div>
				</ion-item>
				<ion-item class="item-toggle">
				Hide my name
				<label class="toggle toggle-assertive">
					 <input type="checkbox" ng-model="post.hideUserDetails">
					 <div class="track">
						 <div class="handle"></div>
					 </div>
				</label>
			</ion-item>
			<div class="item item-divider">
				<textArea readonly>Hiding your name won't make you untraceable. Vulgarity won't be tolerated!</textArea>
			</div>
			<div class="item" ng-hide="post.doNotUseFullAddress">
				<label class="input-label ">Address </label>
				<!--<textarea type='text' id='pac-input' ng-model="post.address" name="googleAddressBox" required></textarea>-->
				<div role="alert">
						<ion-google-place placeholder="Enter an address, Apt# and ZIP" name="googleAddressBox" ng-model="post.place" />
							<span class="error" ng-show="addPostForm.googleAddressBox.$invalid && (addPostForm.googleAddressBox.$touched  || input.hasError)">
								Address was not choosen, <br>keep holding the option to select one
							</span>
							<span class="error" ng-show="addPostForm.googleAddressBox.$touched && !post.place && addPostForm.googleAddressBox.$valid">
								Invalid Address! <br> keep holding the option to select one
							</span>
			 </div>
			</div>
		<div ng-show="fullAddressFeature">
			<ion-item class="item-toggle">
			Do not use full address
				<label class="toggle toggle-assertive">
					 <input type="checkbox" ng-model="post.doNotUseFullAddress">
					 <div class="track">
						 <div class="handle"></div>
					 </div>
				</label>
			</ion-item>
					<!-- below this only if user doesn't like entering full address -->
			<div ng-show="post.doNotUseFullAddress">
				<ion-item class="item-input">
						<span class="input-label">Zip-Code</span>
						<input type="number" style="text-align: right;" ng-model="post.location.zip_code" ng-change="postOperations.zipCodeUpdated(post.location.zip_code)" maxlength='5'>
				</ion-item>
				<ion-item class="item-label">
						City/State
					<span ng-hide="cityLoading" class="item-note">{{post.location.city}}, {{post.location.post_state}}</span>
				<ion-spinner ng-show="cityLoading" class="item-note"></ion-spinner>
			 </ion-item>
		 </div>
	 </div>
		</form>
		<div class="item item-divider">
			<textArea readonly>This post will be removed from kchahiyo after 30days. You may resubmit the post then.</textArea>
		</div>
 	</div>
<div>
	<span class="button button-block button-assertive" ng-click="postOperations.savePostClicked(addPostForm)">Save</span>
</div>

	</ion-content>
</ion-view>
