<ion-view cache-view="false" view-title='{{catagory}}'>

<ion-header-bar class="bar-positive"><i class="ion-plus-circled"></i></ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/post/{{post.id}}">
        <!--<img ng-src="{{post.unique_image_id}}">-->
        <h2>{{post.title}}</h2>
        <p>{{post.sub_catagory}}, {{post.post_city}}<span style="float:right">{{post.date}}</span></p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="remove(chat)">
          Save
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<!--
  {"id":"4","date":"2014-09-06","username":"Nishchal Pandey","title":"Jobs at Subway in Carrollton/Dallas","content":"Looking for full time employees to work flexible hours between 7am to 9pm Monday to Sunday. Must have their own transportation. Please contact rajpatel4420yahoo.com&lt;br /&gt;\r\n&lt;br /&gt;\r\nContact: Raj Patel","userId":"1065700932","catagory":"Jobs","sub_catagory":"Fast Food Restaurant","post_zip":"75007","post_state":"Texas","post_city":"","post_near_city":"dallas / fort worth","unique_image_id":"0"}
  -->