<ion-view title="Choose your city" ng-init="city.name ='';">
			<ion-scroll class="citiesScroll" zooming="true">
				<ion-content>
					<ion-spinner ng-show="loaded"></ion-spinner>
					<div class="contentWrapper">
					<div class="cityIconWrapper">
				<div class="cityIcon button card" ng-click="cityChanged('{{city}}');" ng-repeat="city in counties" >
					<div class="cityName">
						<div class="textWrapper">
							<span ng-bind="city | capitalizeFirstLetter"></span>
						</div>
					</div>
					</div>
				</div>
			</div>
			</ion-content>
			</ion-scroll>
</ion-view>
