<ion-view title="K-Chahiyo">
        <ion-content class="chooseStateCityPage" ng-scrollable='false' style="display:flex; align-items: center;">
        <div ng-hide="dataLoaded">
                <p class="text-center">
                        <ion-spinner></ion-spinner>
                </p>
        </div>
        <div ng-show="dataLoaded">
        	<label class="item item-select" >State Name
        		<select ng-model="stateName" ng-change="stateChanged(stateName)" required>
                                <option value="">Select one</option>
                                <option ng-repeat="state in states" value={{state.state_abbr}} ng-bind='state.state' ></option>
        		</select>
        	</label>
        </div>
	</ion-content>
</ion-view>
