<ion-view title="choose your state" ng-init="i=0">
<ion-content>
  <div ng-repeat="stateName in state">
  <div class="row" ng-if="$index%3==0" >
    <div class="col">
      <button class="button button-bar button-stable" >
        <p style="margin:auto;">{{state[$index + 0]}}</p>
      </button>
      </div>
    <div class="col">
      <button class="button button-bar button-stable" >
        <p style="margin:auto;">{{state[$index + 1]}}</p>
      </button>
      </div>
    <div class="col">
      <button class="button button-bar button-stable" >
        <p style="margin:auto;">{{state[$index + 2]}}</p>
      </button>
      </div>
  </div>
</div>
  </ion-grid>
</ion-content>
</ion-view>
