<ion-view title="Choose Your State" ng-init="searchText ='';">

				<ion-content>
					<div class="contentWrapper">
					<div class="cityIconWrapper">
						<div class="row item">
							<label class="item-input" >
								<i class="icon ion-search placeholder-icon"></i>
								<input type="search" placeholder="Search" ng-model="searchText">
							</label>
						</div>
						<div class="itemContainer">
							<div class="cityIcon fadeInAnimation button card" ng-click="stateChanged('{{state.state_abbr}}');" ng-repeat="state in states | filter: searchText" >
								<div class="cityName">
									<div class="textWrapper">
										<span ng-bind-html="state.state | capitalizeFirstLetter | filterEffect : searchText"></span>
									</div>
								</div>
								</div>
						</div>
				</div>
			</div>
			</ion-content>

</ion-view>
