<div  ng-init="selectedOption ='Title'; searchtext = {};">
      <ion-item class="row listFilter">
      <label class="item-input col-50" ng-show="selectedOption === 'Title'">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  placeholder="Enter Title" ng-model="searchtext.title">
      </label>
      <label class="item-input col-50" ng-show="selectedOption === 'Zip'">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  placeholder="Enter Zip Code" ng-model="searchtext.post_zip">
      </label>
      <label class="item-input col-50" ng-show="selectedOption === 'City'">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  placeholder="Enter City Name" ng-model="searchtext.city">
      </label>
      <label class="item-input col-50" ng-show="selectedOption === 'Sub Catagory'">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  placeholder="Enter Sub Catagory" ng-model="searchtext.sub_catagory">
      </label>

      <label class="item-input item-select col-50">
        <select ng-model="selectedOption">
          <option selected>Title</option>
          <option>Zip</option>
          <option>City</option>
          <option>Sub Catagory</option>
        </select>
      </label>
    </ion-item>

  <ion-list >
    <ion-item
        class="item-remove-animate item-icon-right"
        ng-repeat="post in posts | filter:searchtext:strict"
        type="item-text-wrap"
        href="#/tab/{{postType}}/{{catagory}}/{{post.id}}">
          <!--<img ng-src="{{post.unique_image_id}}">-->
          <h2 class="item-header">{{post.title | squeezeString:30 | capitalizeFirstLetter}}
          <p class="item-note col-30">{{post.date}}</p><h2>
          <p class="item-subCatagory">{{post.sub_catagory}}</p>
          <p class="item-city-zip"> {{post.city}}, {{post.post_zip}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button ng-show="postOperations.removeable" class="button-assertive" ng-click="remove(post)">
          	Delete
          </ion-option-button>
          <ion-option-button ng-show="postOperations.removeWatch" class="button-assertive" ng-click="removeWatch(post)">
          	Delete
          </ion-option-button>
          <ion-option-button ng-show="postOperations.saveable" class="button-positive" ng-click="savePost(post)">
            Watch
          </ion-option-button>
    </ion-item>
  </ion-list>

</div>
<ion-infinite-scroll
  on-infinite="loadMorePost()"
  ng-if="post.loadable"
  ng-show = "post.loadable"
  distance="1%">
</ion-infinite-scroll>
