<ion-view ng-show= 'gMapLoaded' view-title="Post Detail">
  <ion-content>
      <google-map loaded='gMapLoaded && !!post.lat && !!post.lng' lat= "post.lat" lng = "post.lng"></google-map>
       <div class="card postDetailsCard">
          <div ng-hide="editing" class="item postDetailHeader">
            <span class='item-text-wrap postDetailTitle'  ng-bind='post.title'></span>
            <span ng-hide="editing" class="postDate">
              <span class="postDateValue" ng-bind='post.date'></span>
            </span>
          </div>
        <div ng-show='editing' class="item">
          <span> Title
            <input type="text" ng-model='post.title'/>
          </span>
        </div>
        <div class="item" ng-show="oldImages.length > 0 || editing">
          <button ng-show="editing" class="button button-assertive" ng-click="showActionSheet('post')">Attach Images  </button>
          <div class="uploaded-image-viewer" >
            <div ng-repeat = "image in oldImages" class="imageWrapper">
              <i ng-show="editing" class="button button-clear ion-close"
              ng-click="postOperations.removeImageFromServer(image, post.id)"
              style="position: absolute; top: -10px; right:-15px; color:black;"></i>
              <img ng-src= "{{serverAddress}}/uploads/thumbs/thumb_{{image}}" ng-click='viewFullScreen({{$index}})' width="100%" style="overflow:hidden;"/>
            </div>
            <div ng-show="editing" ng-repeat = "image in images" class="imageWrapper">
              <i class="button button-clear ion-close"
              ng-click="postOperations.removeImageFromDevice(image)"
              style="position: absolute; top: -10px; right:-15px; color:black;"></i>
              <img ng-src= "{{urlForImage(image)}}" width="100%" style="overflow:hidden;"/>
            </div>
          </div>
        </div>
      <div class="item item-text-wrap postDetailContent" ng-bind-html="post.content| nl2br"  ng-hide="editing" >
        </div>
      <div class="item item-text-wrap" ng-show="editing">
        <span ng-show="editing"> Content<textarea  rows='6' ng-model='post.content'></textarea></span>
      </div>
      <div class="item postDetailFooter">
        <p>Posted by : <span ng-if="post.hide_user_details == 0" ng-bind="post.username"></span>
                       <span ng-if="post.hide_user_details == 1">Anonymous</span><br>
        City : <span ng-bind ='post.city'></span></p>
      </div>
    </div>
<button class="button button-block button-assertive"  ng-show="jobListing" ng-click="savePost(post)">
          Watch This Post
  </button>
<div class="button-bar bar-assertive" ng-show="editable">
  <a class="button" ng-show="editing" ng-click="postOperations.savePost(post)">Save</a>
  <a class="button" ng-hide="editing" ng-click="postOperations.editPost()">Edit</a>
  <a class="button" ng-show="editing" ng-click="postOperations.cancelEdit()">Cancel</a>
  <a class="button" ng-hide="editing" ng-click="postOperations.deletePost()">Delete</a>
</div>
  </ion-content>
</ion-view>
