<ion-view>
  <ion-content class="pane-login">
    <ion-list>
      <form name="userCreate" ng-model="userCreateForm" class="loginWrapper">
        <div class="card login-form">
          <button class=" button-clear button-dark ion-close-circled " style="font-size: 2em; float:right;" ng-click="registerModalButtons.closeButton()">
          </button>
          <ion-item>
            <ion-label>First Name</ion-label>
            <input
              name='firstNameInput'
              type="text"
              ng-pattern="user.firstName.word"
              ng-model="user.first_name"
              placeholder="Enter your first name"
              required
              >
          </input>
            <div role="alert">
              <span class="error" ng-show="!!userCreate.firstNameInput.$error.pattern">
                Single word only!</span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Last Name</ion-label>
            <input
              name="lastNameInput"
              type="text"
              ng-model="user.last_name"
              placeholder="Enter your last name"
              required
              >
            </ion-input>
            <div role="alert">
              <span class="error" ng-show="userCreate.lastNameInput.$error.pattern">
                Single word only!</span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <input
              name="emailInput"
              type="email"
              ng-model="user.email"
              placeholder="someone@k-chahiyo.com">
            </input>
            <div role="alert">
              <span class="error" ng-show="userCreate.emailInput.$error.required && addPostForm.catagorySelector.$touched">
                Required!
              </span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <input
              name="passwordInput"
              type="password"
              ng-model="user.password"
              placeholder="**********"
              required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Re-enter Password</ion-label>
            <input
              name="reenterPasswordInput"
              placeholder="**********"
              type="password"
              ng-model="user.reenter_password"
              required>
            </ion-input>
            <div role="alert">
              <span class="error" ng-show="user.password != user.reenter_password">
              Passwords don't match!</span>
            </div>
          </ion-item>
          <ion-item>
              <input class="button button-block button-assertive" ng-click="registerModalButtons.register(userCreate)" type="button" value="Register" />
              <!--ng-disabled="userCreate.$invalid || (user.password != user.reenter_password)"-->
          </ion-item>
        </div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
