<ion-view view-title="K-Chahiyo Portal">
  <ion-content class="padding">
    <div class="row">
      <div class="col-50">
        <span class="size-96">
          <a href="#/tab/posts/Jobs" class="button icon card dashboard-buttons">
            <img class="dashboard-icons" src="img/dashboard_icons/Briefcase-1.png"/>
            <br>Jobs</a>
      </span>
      </div>
      <div class="col-50">
        <button href="#/tab/posts/Room-Mates" class="button card dashboard-buttons">
          <img class="dashboard-icons" src="img/dashboard_icons/Household-Room-icon.png"/>
          <br>
          Roommates
      </button>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-50">
        <span class="size-96">
          <button href="#/tab/posts/Events" class="button icon card dashboard-buttons">
            <img class="dashboard-icons" src="../img/dashboard_icons/birthday-cake.png"/>
            <br>Events</button>
      </span>
      </div>
      <div class="col-50">
        <button href="#/tab/posts/Item-Sales" class="button card dashboard-buttons">
          <img class="dashboard-icons" src="../img/dashboard_icons/shopping-cart.png"/>
          <br>Item Sales</button>
        </div>
    </div>

    <br>
    <div class="row">
      <div class="col-50">
        <span class="size-96">
          <button href="#/tab/posts/Restaurants" class="button card icon dashboard-buttons">
            <img class="dashboard-icons" src="../img/dashboard_icons/restaurant-2.png"/>
            <br>Restaurants</button>
      </span>
      </div>
      <div class="col-50">
        <button href="#/tab/posts/Others" class="button card dashboard-buttons">
          <img class="dashboard-icons" src="../img/dashboard_icons/others.png"/>
          <br>
          Others
      </button>
        </div>
    </div>
<!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
