<div class="modal modal-fullscreen login-modal">
	<ion-content>
		<div class="wrapper">
			<div class="card">
				<a class="item item-icon-right">
					<h2>Sign In</h2>
					<i class="icon button-clear ion-close" ng-click="loginModalButtons.closeButton()"></i>
				</a>
					<ion-item>
					<label>
						<!--i class="ion-email email-icon"></i-->
						<span>Email</span>
						<input class="text" type="text" ng-model="user.username" placeholder="email">
					</label>
				</ion-input>
				</ion-item>

				<ion-item>
					<label floating>
						<!--i class="ion-locked password-icon"/-->
						Password
						<input type="password" ng-model="user.password" placeholder="password"></ion-input>
					</label>
				</ion-item>
				<ion-item>
					<div>
						<input class="button bar button-assertive" ng-click="loginModalButtons.loginButton()" type='button' value="Login"/>
					</div>
				<div>
					<p class="text-center">
					Don't have an account yet,
					<a href="#" ng-click="loginModalButtons.signUp()">Sign up</a>
				</p>
			</div>
					<button class="button bar facebook-button" ng-click = "loginModalButtons.fbLogin()">
						<div class="facebook-button-content">
								<i class="ion-social-facebook" ></i>
							<span class="seperator-bar">|</span>
							<span class="facebook-button-text" >Connect with Facebook</span>
						</div>
					</button>
				</ion-item>
		</div>
	</div>
</ion-content>
