<ion-view view-title="About">
	<ion-content>
		<div class="card app-info">
			<ion-list>
				<ion-item><img class="kchahiyoIcon" src="img/kchahiyo_logo_new.png"/><h2>के-चाहियो</h2></ion-item>
				<ion-item class="item-text-wrap">
					<p>The first Nepali app to fulfill all your needs.
					Just login to post your advertisement without paying a single penny.
				</p>
				<p>
					Posting ads hasn't been easier. Everytime calling your
					friends to ask about jobs, room-mates, rideshare or
					events is inconvenient. We believe that this app will
					make these tasks easier and faster.
				</p>
				<br>
				<p class="kchahiyoTeamName">K-chahiyo Team<p>
					<p type="email">E-mail: admin@k-chahiyo.com</p>
					<p class="iconDesclaimer">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></p>
				</p></ion-item>
			</ion-list>

		</div>

		<!--div class="card">
			<ion-list>
				<ion-item><h2>Contact Us</h2></ion-item>
					<label class="item item-input item-stacked-label">
					<span class="input-label">Name </span>
					<input type="text">
					</label>
					<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text">
					</label>
					<label class="item item-input item-stacked-label">
					<div class="input-label">Message</div>
					<textarea type="text" rows=10></textarea>
					</label>
					<ion-item>
						<button class="button button-block button-assertive">Send</button>
					</ion-item>
			</ion-list>
		</div-->
		<!--div class="card company-info">
			<ion-list>
				<ion-item><h2>Developed By</h2></ion-item>
				<ion-item class="item-text-wrap">

					<p>Satyawati Inc.</p>
					<p>E-mail: admin@k-chahiyo.com</p>
				<a ng-click="sendEmail()" ng-if="emailComposerAvailable" class="button button-clear">Send email</a>
			</ion-item>
			</ion-list>
		</div-->

	</ion-content>
</ion-view>
