<ion-view>
  <ion-content class="pane-login" style="background-image: url(/img/background.jpg);">
    <form name="userCreate" ng-model="userCreateForm" class="loginWrapper">
      <div class="card login-form">
        <ion-list>
          <ion-item>
            <ion-label>First Name</ion-label>
            <input name='firstNameInput' type="text" ng-pattern="user.firstName.word" ng-model="user.first_name" required></ion-input>
            <div role="alert">
              <span class="error" ng-show="userCreate.firstNameInput.$error.pattern">
                Single word only!</span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Last Name</ion-label>
            <input name="lastNameInput" type="text" ng-model="user.last_name" required></ion-input>
            <div role="alert">
              <span class="error" ng-show="userCreate.lastNameInput.$error.pattern">
                Single word only!</span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <input name="emailInput" type="email" ng-model="user.email" required></ion-input>
            <div role="alert">
              <span class="error" ng-hide="notFilled" ng-show="userCreate.emailInput.$error.required">
                Required!</span>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <input name="passwordInput" type="password" ng-model="user.password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Re-enter Password</ion-label>
            <input name="reenterPasswordInput" type="password" ng-model="user.reenter_password" required></ion-input>
            <div role="alert">
              <span class="error" ng-show="user.password != user.reenter_password">
              Passwords don't match!</span>
            </div>
          </ion-item>
          <ion-item>
              <input class="button button-block button-assertive" ng-click="submit();" type="button" ng-disabled="userCreate.$invalid || (user.password != user.reenter_password)" value="Register" />
          </ion-item>
          
        </ion-list>
      </div>
    </form>
  </ion-content>
</ion-view>