<ion-view view-title="K-Chahiyo">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-earth" ui-sref="chooseState({resetLocation:true})"> {{city +', ' + state | capitalizeFirstLetter | squeezeString:10 }}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-clear ion-compose" href="#/tab/insertPost"> Post Ad</a>
    </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    <div class="container" >
    <div class="row icon-row">
        <div class="button-wrapper col">
                <a href="#/tab/posts/Jobs" class="button button-positive dashboard-button">
            <div class="button-content">
            <i class="ion-ios-briefcase dashboard-button-icons">
              <div class="icon-label">Jobs</div>
            </i>
            </div>
            </a>
      </div>

      <div class="button-wrapper col">
        <a href="#/tab/posts/Room-Mates" class="button dashboard-button button-royal" >
          <div class="button-content">
          <i class="ion-home dashboard-button-icons"> 
            <div class="icon-label">Roommates</div></i>
            </div>
      </a>
    </div>
  </div>
    
    <div class="row row-middle icon-row">
        <div class="button-wrapper col">
          <a href="#/tab/posts/Events" class="button dashboard-button button-assertive">
            <div class="button-content">
            <i class="ion-beer dashboard-button-icons">
              <div class="icon-label">Events</div></i>
              </div>
            </a>
      </div>
     
      <div class="button-wrapper col">
        <a href="#/tab/posts/Item-Sales" class="button dashboard-button button-balanced">
          <div class="button-content">
          <i class="ion-android-cart dashboard-button-icons" >
            <div class="icon-label">Item Sales</div></i>
            </div>
            </a>
          </div>
    </div>
    
    <div class="row row-buttom icon-row">
         
        <div class="button-wrapper col">
          <a href="#/tab/posts/Restaurants" class="button dashboard-button button-energized">
            <div class="button-content">
            <i class="ion-android-restaurant dashboard-button-icons">
              <div class="icon-label">Restaurants</div></i>
              </div>
            </a>
        </div>

        <div class="button-wrapper col">
            <a href="#/tab/posts/Others" class="button dashboard-button button-dark">
              <div class="button-content">
              <i class="ion-android-share-alt dashboard-button-icons">
                <div class="icon-label">Others</div></i>
              </div>
            </a>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
