<ion-view view-title="Post Detail">
  <ion-content>
 <google-map loaded='gMapLoaded' lat= "post.lat" lng = "post.lng"></google-map>
    <div class="card">
      <div class="item">
        <span class='postTitle' ng-hide="editing" ng-bind='post.title'></span>
        <span ng-show='editing'>Title<input type="text" ng-model='post.title'/></span>
        <span ng-hide="editing" class="postDate">Posted on :<span class="postDateValue" ng-bind='post.date'></span></span>
      </div>
      <div class="item item-text-wrap" ng-hide="editing" ng-bind-html="post.content"></div>
      <div class="item item-text-wrap" ng-show="editing">
        <span ng-show="editing"> Content<textarea ng-model='post.content' ></textarea></span>
      </div>
      <div class="item">
       <p>Posted by : <span ng-bind="post.username"></span> </p>
        <p>City : <span ng-bind ='post.city'></span></p>
      </div>
      <ion-item>
        <button class="button button-assertive" ng-click="watchThisPost(post.id)">
          Watch This Post
        </button>
      </ion-item>
    </div>
<div class="button-bar bar-assertive" ng-show="editable">
  <a class="button" ng-show="editing" ng-click="postOperations.savePost(post)">Save</a>
  <a class="button" ng-hide="editing" ng-click="postOperations.editPost()">Edit</a>
  <a class="button" ng-show="editing" ng-click="postOperations.cancelEdit()">Cancel</a>
  <a class="button" ng-hide="editing" ng-click="postOperations.deletePost()">Delete</a>
</div>
  </ion-content>
</ion-view>
<!-- 
        {"id":"5","date":"2014-09-06","username":"Nishchal Pandey","title":"Baby sitter available in Irving","content":"Hi,I do baby sit at my home.iam an experienced mom and do baby sitting.my home is very clean and pet free environment.i have enough patience to feed the kids if any one interested. &lt;br /&gt;\r\n&lt;br /&gt;\r\npls call me at 214-432-4063 &lt;br /&gt;\r\nSudha","userId":"1065700932","catagory":"Jobs","sub_catagory":"baby sitting","post_zip":"75062","post_state":"Texas","post_city":"","post_near_city":"dallas / fort worth","unique_image_id":"0"}
    
-->