<ion-view view-title="About">
	<ion-content>
		<div class="card">
			<ion-list>
				<ion-item><h2>K-chahiyo</h2></ion-item>
				<ion-item class="item-text-wrap"><p>A classified advertisement app dedicated to our Nepalese communities in the US. Just login to post your ads without paying a single penny.
				</p>
				<p>
				Posting ads hasn't been simpler. Everytime calling your peers to query about part-time job vacancies, room-mates, events and others is not easy. This app might become an important assitant to you. Lets help each other find what we want.
				</p>
				<br>
				<p>K-chahiyo Team<p>
				</p></ion-item>
			</ion-list>
		</div>

		<div class="card">
			<ion-list>
				<ion-item><h2>Contact Us</h2></ion-item>
					<label class="item item-input item-stacked-label">
					<span class="input-label">Name </span>
					<input type="text">
					</label>
					<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text">
					</label>
					<label class="item item-input item-stacked-label">
					<div class="input-label">Message</div>
					<textarea type="text" rows=10></textarea>
					</label>
					<ion-item>
						<button class="button button-block button-assertive">Send</button>
					</ion-item>
			</ion-list>
		</div>
		<div class="card">
			<ion-list>
				<ion-item><h2>Developed By</h2></ion-item>
				<ion-item class="item-text-wrap">
					<p>
						Satya Inc. Dallas, TX USA
				</p>
			</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
