<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark tabs-color-assertive">

  <!-- Catagories Tab -->
  <ion-tab title="Catagories" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>

  </ion-tab>

  <!-- Add Post Tab 
  <ion-tab title="Add Post" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/insertPost">
    <ion-nav-view name="tab-insertPost"></ion-nav-view>
  </ion-tab>
  -->

  <!-- Profile Tab -->

  <ion-tab title="Your Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/userProfile">
    <ion-nav-view name="tab-userProfile"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
