<ion-view view-title="Profile" class="profilePage " >
  <ion-nav-buttons side="secondary">
    <button class="button button-clear ion-log-out" ng-click="logUserOut()"/> Logout</button>
  </ion-nav-buttons>
  <ion-scroll class="has-header">
      <div class="top-banner">
        <div class="topBannerForeground">
          <div class="userDetails">
              <div class="row profileImageWrapper" ng-click="showActionSheet('profilePic')" >
                <div class="profilePicDiv" style="background-image: url('{{profilePic}}')">
                 <p ng-hide="!!profilePic">Tap to add</p>
                  <ion-spinner ng-show="profilePicLoading"></ion-spinner>
                </div>
              </div>
              <div class="row userName">
                <span>
                  {{userDetails.first_name + " "+userDetails.last_name}}
                </span>
              </div>
          </div>
        </div>
      </div>

        <div class="tsb-icons"  data-tab-menu data-ng-model="ui.tabview">
          <div class="tsb-ic-wrp row">
            <div class="col">
              <a href="templates/profilePage/posts-list.html" class="icon ion-ios-paper">
                <span>My Posts</span>
              </a>
            </div>
            <div class="col">
              <a href="templates/profilePage/watched-posts.html"  class="icon ion-ios-glasses">
                <span>Watching</span>
              </a>
            </div>
            <div class="col">
              <a href="templates/messagingService/messageList.html"  class="icon ion-android-chat">
                <span>Messages</span>
              </a>
            </div>
          </div>
        </div>
        <div data-ng-include="ui.tabview"> </div>
</ion-scroll>
</ion-view>
