<ion-view view-title="Profile" class="profilePage" ng-show="isUserLoggedIn">
<ion-nav-buttons side="secondary">
  <button class="button button-clear ion-log-out" ng-click="cameraCapture()"/> Logout
</button>
</ion-nav-buttons>
<ion-nav-buttons side="primary">
  <button class="button button-clear ion-log-out" ng-click="uploadPic()"/> Upload pic
  </button>
</ion-nav-buttons>


  
   <div class=" top-banner profile-pic">
      <img src="img/Steven_Hallam-slide.jpg" class="headerImageUserProfile"/>
    
    <div class="card userDetails">Logged in: 
      <span>{{userDetails.first_name + " "+userDetails.last_name}}     
      </span>
    </div>
  </div>
    <div profile-tabs class="list profile-tab tabs-striped" >
      <div class="tabs">
        <a class="tab-item active" href="#" ng-click="tabButtons.myPostsTab()">
          <i class="icon ion-ios-paper">
            <span class="tab-labels" >
              My Posts
            </span>
          </i>
        </a>
        <a class="tab-item" href="#" ng-click='tabButtons.watchingTab()'>
          <i class="icon ion-ios-glasses">
            <span class="tab-labels">
              Watching
            </span>
          </i>
        </a>
      </div>
    </div>

  <ion-content class="profilePageContent">
    <ion-list>
      <div data-ng-include="'templates/post-list.html'"> </div>
    </ion-list>
  </ion-content>
 
</ion-view>
