.uploaded-image-viewer{
	padding :5px 5px 6px 0;
	position:relative;
}

.uploaded-image-viewer .text-center{
	justify-content: center;
}

.uploaded-image-viewer .imageWrapper{
	display: inline-block;
	overflow:hidden;
	position: relative;
	padding:3px 3px 3px 0;
}

.uploaded-image-viewer .imageWrapper img,
.uploaded-image-viewer .imageWrapper{
	width: 30vw;
	padding-right: 5px;
	float: left;
}

.uploaded-image-viewer .imageWrapper .checkboxIcon, .imagesRack .checkboxIcon{
	position: absolute;
	bottom: 15px;
	left: 5px;
}

.uploaded-image-viewer .imageWrapper .ion-close-circled{
	position: absolute;
	top: -5px;
	right:-7px;
	font-size: 1.3em;
	color: rgba(1, 216, 249,0.9);
}

.add-images-button{
	float:right;
	align-items: center;
	font-weight: 600;
	font-size: 1.5em;
	justify-content: center;
}

.postDetailImages{
	display: inline-block;
  overflow:hidden;
  position: relative;
  padding:0 3px 0 0;
	width:100px;
	height:auto;
}


.postDetailHeader{
  border-color: #111;
	/*padding: 15px;*/
	padding: 0px !important;
  /*background-color: #3F3F3F;
		background-color: #696;
		background-color:#638863;
	*/
	background-color: #28a54c;
	/*background-color: #039259;*/
	color: #FEF;
	font-weight:500;
}
