.button-wrapper{
  display: flex;
}

.title, .tabs-green{
  color: #49D27B !important;
  font-weight: 600 !important;
}

/*.tabs-green{
    color: #49D27B !important;
}*/

#dashboardPage .scroll-content{
 /*background-image: url('../img/backdrop_dashboard.jpg');*/
    background-size: cover;
    background-image: url(../img/abstract_background.jpg);
}



.scroll-content .container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scroll-content .container .icon-row{
  display: flex;
  flex-grow:1;
  flex-direction: row;
}

 .scroll-content .container .icon-row .icon-label{
  font-size: 0.4em;
  flex-grow:1;
}


.scroll-content .container .icon-row .dashboard-button{
  width:100%;
  /*background-color: rgba(10,10,10,0.4);
  background-color: rgba(134, 134, 134, 0.4);
  background-color: rgba(50, 127, 128, 0.52);*/
  background-color: rgba(224, 212, 212, 0.25);
  border-color: rgba(0,0,0,0);
  color: rgba(255,255,255,1);
  flex-direction:row;
  border-radius: 0.5em;

  align-items:center;
  justify-content: center;
  display: flex;
  z-index: 10;
  /*filter: url('#blur');
  filter: blur(5px);*/
}
.button-content{
  flex-grow:1;

}


.scroll-content .container .icon-row .dashboard-button .dashboard-button-icons{
  line-height: 0.5em;
  font-size: 8vh;
  /*color: white;
*/}
