/* Empty. Add your own CSS if you like */

.dashboard-buttons{
  width: 95%;
}

.dashboard-icons{
  width: 50%;
  padding-top: 20%;
  color: red;
}

.item p {
	//color: #03A9F4;
}

/*google-map div{
	height: 300px;
}*/

.map{
	width: 100%;
	height: 250px;
}

.postDate{
	float:right;
	color: grey;
	font-size: 0.9em;
}

textarea{
	width: 100%;
	height:150px;
}

.headerImageUserProfile{
  width: 100%;
}

.profileHeaderPicWrapper{
  height:300px;
  overflow: hidden;
}
.tab-labels{
  font-size:0.4em;
  line-height: 3em;
  vertical-align: middle;
}
