/* Empty. Add your own CSS if you like */

.button-wrapper{
  opacity:0.98;
  display: flex;
}

.postDetailsCard{
  margin-top: -15px;
}
.chooseStateCityPage{
  display:flex;
  align-items:center;
}

.chooseStateCityPage .scroll{
  width:100%;
}

.error{
  color:red;
}

.highlight-text{
  background-color: grey;
}

.item .item-content{
  padding:15px !important;
}

.item h2 {
  color: #860A07;
  font-weight: 500;
  }


.item p{
  font-size: smaller;
  //color: #0A6524;
}

.button-content{
  flex-grow:1;
}

.profile-tab{
  margin-bottom: 2px;
}

.profilePageContent{
  top:250px;
  z-index: 99;
  //height: 500px;
}
.postHeader{
}

.postDetailHeader{
    border-color: #111;
    background-color: #3F3F3F;
    color: #fff;
}

.postDetailTitle{
  font-size: 1.2em;
}
.postDetailContent{
  font-size:1em;
}

.postDetailFooter{
  padding:10px 16px;
  font-size: 0.9em;
}
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icon-row{
  display: flex;
  flex-grow:1;
  flex-direction: row;
}

.dashboard-button-icons{
  line-height: 0.5em;
  font-size: 9vh;
}

.dashboard-button{
  width:100%;
  flex-direction:row;
  border-radius: 0.5em;
  align-items:center;
  justify-content: center;
  display: flex;
}

.facebook-button{
  background-color: #2F5F9E;
  color: white;
  line-height: 1.9em;
  font-size: 0.9em;
  vertical-align: bottom;
}

.facebook-button-content{
  position: relative;
  width:258px;
  height:40px;
  margin: 0 auto;
}

.facebook-button-text{
  font-size: 1.1em;
  position: absolute;
  left: 68px;
  top: 7px;
}

.ion-social-facebook{
  font-size:2.0em; 
  position: absolute;
  left:27px;
  top: 7px;
  vertical-align: bottom;
}

.facebook-button:hover{
  color:white;
  
}
.seperator-bar{
  font-size:2.5em;
  position: absolute;
  left:50px;
  top:1px;
}

.icon-label{
  font-size: 0.4em;
  flex-grow:1;
}

.scroll-content{
  background-color: rgba(0,82,156,.2) ;
}
.item p {
	//color: #03A9F4;
}

/*google-map div{
	height: 300px;
}*/

.listContent{
  margin-top: 50px;
  height:100%;
}

.listFilter{
}

.postDate{
	float:right;
	font-size: 0.9em;
}

textarea{
	width: 100%;
}

.tabs-striped.profilePage{
  padding: 23px 0;
}
.headerImageUserProfile{
  width: 100%;
}
textarea{
  resize:none;
}

.top-banner{
  width: 100%;
  height:250px;
  overflow: hidden;
}
.tab-labels{
  font-size:0.4em;
  line-height: 3em;
  vertical-align: middle;
}

.userDetails{
  position: absolute;
  top:135px;
  padding:10px;
  background-color: rgba(255,255,255,0.5);
}

.userDetails span{
  opacity: 1;
  font-weight: 500;
}