/* Empty. Add your own CSS if you like */

.dashboard-buttons{
  width: 95%;
}

.dashboard-icons{
  width: 50%;
  padding-top: 20%;
  color: red;
}

.item p {
	color: #03A9F4;
}

/*google-map div{
	height: 300px;
}*/

#map{
	width: 100%;
	height: 250px;
}
